@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

span,  div, a, li {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

    color: black;
}

.background {
    position: relative;

    padding: 50px;

    background-color: #F6F3D8;
}

.content-block {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 50px;

    background-color: #FFFEF6;
}

header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    width: 45%;

    display: flex;
    justify-content: space-between;
}

.navigation ul li a {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 20px;
    text-decoration: none;
    /*line-height: 33px;*/
}

.navigation ul li {
    margin-right: 25px;

    list-style: none;
}

.navigation {
    flex-grow: 1;
    margin-left: 160px;
}

.login {
    font-size: 24px;
    line-height: 33px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

    border: 1px solid #000000;
    border-radius: 12px;
}

.login a {
    width: 120px;
    height: 70px;
    display: flex;padding-left: 50px;
    align-items: center;
    margin-right: 40px;

    text-decoration: none;
    text-align: center;

    color: black;

}

.green_text {
    color:#01D98B;
}

.main_text {
    width: 520px;

    margin-top: 150px;
    margin-left: 50px;

}

.input_df::-webkit-search-cancel-button {
    display: none;
}

.input_df {
    outline: none;
}

.middle {
    font-size: 40px;
    line-height: 55px;
}

.main_text div h1 {
    font-size: 74px;
    font-weight: 900;
    font-style: normal;
    line-height: 101px;
}

.information_text1 {
    font-size: 24px;
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
}

.block_for_block {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.search {
    position: relative;

    margin-top: 100px;
}

.input_df {
    width: 500px;
    height: 70px;

    padding-left: 60px;

    font-size: 20px;

    border-color: #01D98B;
    border-radius: 15px;
    border-width: 3px;
}

.search_img {
    position: absolute;
    top: 17px;
    left: 15px;
}

.text_buttom {
    font-size: 20px;
    line-height: 42px;
}

.box_for_img {
    position: absolute;
    left:420px;
    top:10px;

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #01D98B;
    border-radius: 50px;
}

.size_img {
    width: 15px;
    height: 25px;
}

.img_bottom {
    position: absolute;
    top:1137px;
    left:0;
}

.group_img {
    margin-right: -1px;
}

